.section-header{
    padding: 5rem 0;
    position: relative;
    z-index: 2;
}
.section-header__title {
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.section-header__line {
    background-color: var(--pink);
    display: inline-block;
    height: 1px;
    width: 170px;
}
.section-header__description {
    font-size: 1rem;
    color: var(--middle-grey);
    padding-top:2rem;
}
.banner__form-name{
    display: none;
}
.section-header__title--white, .section-header__description--white{
    color: white;
}
.section-header__line--white{
    background-color:white;
}
