.awesome__content-box {
    font-size: 0;
}

.awesome__card {
    display: inline-block;
    width: 33.3%;
    text-align: center;
    padding: 0.9rem 1.25rem;
    line-height: 1.5;
}

.awesome__card-title {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
}

.awesome__card-description {
    font-family: Raleway, sans-serif;
    font-size: 1.2rem;
    line-height: 1.3;
    margin-bottom: 1.25rem;
}



