.banner{
    background-image: url("../assets/pictures/bg.png");
    min-height: 951px;
    position: relative;
    background-color: dimgrey;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-header--banner{
    width: 42rem;
    background-color: transparent;
    color: black;
    display: inline;
    position: relative;
    z-index: 1;
   text-align: left;
}
.section-header__line-banner{
background-color: white;
}
.banner::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
.header__logo--huge{
    min-width: 270px;
    position: relative;
    z-index: 1;
}
.banner__form{
    width: 29rem;
    font-family: var(--font-family-subtitle-btn);
}

.banner__form-box{
    background-color: white;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 2rem 2rem;
}
.banner__form-label-input{
display: none;
}
.banner__form-input{
    border:none;
    border-bottom: 1px solid #BDBDBD;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    width: 100%;
    font-size: var(--unit-s);
}
input:focus{
    outline: none;
    border-bottom: 2px solid #ec7979;
}
input:active{
    outline: none;
    border-bottom: 3px dashed #ec7979;
}

.banner__form-button{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    color: white;
    font-family: var(--font-family-subtitle-btn);
    font-size: 0.9rem;
    text-align: center;
    padding: 1.2rem;
    background-color: #EC7979;
    border-radius: 0 0 10px 10px;
    border: none;

}
.banner__form-button:hover{
    background-color: #AB4949;
    transition: 0.5s;
}
.banner__form-section{
    border: none;
    padding-bottom: 5rem;
}
.banner__form-title{
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2.5rem;
    color: #333333;

}
.banner__form-title h4 > span{
    color: #EC7979;
}
.banner__form-input::placeholder{
    text-transform: uppercase;
    font-family: var(--font-family-subtitle-btn);
    font-size: var(--unit-xs);
    color: #BDBDBD;
}
