.design{
    background-image: url(../assets/pictures/background-design.png);
    min-height: 442px;
    position: relative;
    background-color: black;
    background-size: cover;
}
.design::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
.section-header__title--white, .section-header__description--white{
    color: white;
}
.section-header__line--white{
    background-color:white;
}
.tabs__block-button--white{
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: 2px solid white;
    width: 23rem;
}
.tabs__block-button--white:hover{
    background-color: transparent;
    transition: 0.5s;
    border: 2px solid #EC7979;
    color: #EC7979;
}


