.footer{
    height: 10.2rem;
    background-color: black;
    display: flex;
    flex-shrink: 0;
}
.footer__content{
    text-align: center;
    width: 100%;
}
.footer__icons{
    display: flex;
    height: 50%;
    align-items: flex-end;
    justify-content: center;
    gap: 2.5rem;
}
.footer-icon{
    width: 3.32rem;
    height: 3.32rem;
}
.footer__content-rights{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: Raleway,sans-serif;
    font-size: 1.2rem;
    height: 50%;
}