.header{
    background-color: #000000;
    height:4.7rem;
    display: flex;
    justify-content: space-around;
}
.header-nav{
    width: 40%;

}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.header-nav__section{
    color: #FFFFFF;
    font-family: "Open Sans",sans-serif;
    font-size: 0.9rem;
    text-transform: capitalize;

}