.social{
    padding: 5.6rem 0.9rem 1.1rem;
    background-color: #F8EFEF;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.social__content-title{
    padding-bottom: 2rem;
}
.social__content p {
    color: var(--middle-grey);
 }