#tabs {
  padding-top: 4rem;
  scroll-margin-top: 1.25rem;
}
.container-tabs {
  font-size: 0;
  text-align: left;
}
.container-tabs__button {
  text-transform: uppercase;
  color: var(--dark-grey);
  background: var(--white);
  height: 2rem;
  text-align: center;
  width: 10rem;
  display: inline-block;
  border: none;
  border-radius: 5px 5px 0 0;
}
.container-tabs__button--on {
  position: relative;
  z-index: 1;
  top: 2px;
  border-radius: 5px 5px 0 0;
  border: var(--border-tabs);
  border-bottom: none;
}
.tabs__block {
  border: var(--border-tabs);
  font-size: 0;
  padding: 0;
  width: 100%;
}
.tabs__block-content {
  width: 50%;
  text-align: left;
  padding: 0.9rem 6.25rem;
  font-size: 0;
  display: inline-block;
}
.tabs__block-title {
  margin-bottom: 3rem;
  padding-top: 2rem;
}
.tabs__block-description {
  line-height: 1.3;
  margin-bottom: 1.25rem;
}
.tabs__block-picture {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.tabs__block-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 750px) {
  .tabs__block-picture{
    display: none;
  }
  .container-tabs__button{
    width: 5rem;
  }
  .tabs__block-content{
    width: 100%;
    text-align: center;
    padding: 0.9rem 0.5rem}
  #tabs{
    scroll-margin-top: 4rem;}
}
@media (min-width: 768px) and (max-width: 1024px) {
  #tabs{
    scroll-margin-top: 5rem;
  }
  .tabs__block-content{
    padding: 1rem 3rem;
  }
}
