#tabs {
  padding-top: 4rem;
}
.container-tabs {
  font-size: 0;
}
.container-tabs__button {
  text-transform: uppercase;
  color: var(--dark-grey);
  background: var(--white);
  height: 2rem;
  text-align: center;
  width: 10rem;
  display: inline-block;
  border: none;
  border-radius: 5px 5px 0 0;
}
.container-tabs__button--on {
  position: relative;
  z-index: 1;
  top: 2px;
  border-radius: 5px 5px 0 0;
  border: var(--border-tabs);
  border-bottom: none;
}
.tabs__block {
  border: var(--border-tabs);
  font-size: 0;
  padding: 0;
  width: 100%;
}
.tabs__block-content {
  width: 50%;
  text-align: left;
  padding: 0.9rem 6.25rem;
  font-size: 0;
  display: inline-block;
}
.tabs__block-title {
  margin-bottom: 3rem;
  padding-top: 2rem;
}
.tabs__block-description {
  line-height: 1.3;
  margin-bottom: 1.25rem;
}
.tabs__block-button {
  margin-top: 2rem;
  width: 16.9rem;
  height: 3.6rem;
  background-color: var(--pink);
  text-align: center;
  color: var(--white);
  text-transform: capitalize;
  font-size: var(--unit-s);
  line-height: 1.6;
  font-weight: 600;
  border: 0;
  margin-bottom: 3.4rem;
}
.tabs__block-picture {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.tabs__block-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tabs__block-button--white{
  background-color: transparent;
  border: 2px solid #FFFFFF;
  display: block;
  margin: 0 auto;
}
